<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autocomplete</title>
    <script type="module" crossorigin src="/vanilla-js-ui/assets/autocomplete-109fcaa4.js"></script>
    <link rel="modulepreload" crossorigin href="/vanilla-js-ui/assets/style-fac82e35.js">
    <link rel="stylesheet" href="/vanilla-js-ui/assets/style-1f9eb37f.css">
  </head>
  <body>
    <div id="app">
      <input type="text" id="my-search" />
    </div>
    
  </body>
</html>
