body {
    background: linear-gradient(to bottom, #19114d 0%, #7610ef6e 100%);
    display: grid;
    place-items: center;
}

.btn {
    padding: 16px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
}
form input {
    padding: 10px;
    border-radius: 2px;
    border: none;
}
form label {
    font-size: 18px;
    color: white;
}

.btn:active {
    transform: translateY(5px);
}

/** component styles */
ul.toast-root {
    position: fixed;
    transition: all 0.5s ease-in;
    pointer-events: none;
    margin: 0;
    padding: 0;
}
ul.toast-root.top-right{
    top: 20px;
    right: 20px;
}
ul.toast-root.bottom-right{
    bottom: 20px;
    right: 20px;
}
ul.toast-root.bottom-left{
    bottom: 20px;
    left: 20px;
}
ul.toast-root.top-left{
    top: 20px;
    left: 20px;
}
.toast-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.toast-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.toast-info {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.toast-root li {
    bottom: 0;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    list-style: none;
    animation: slideLeft 0.3s ease-in-out;
}

.toast-root li.remove {
    animation: slideRight 0.3s ease-in-out forwards;
}

@keyframes slideLeft {
    from { transform: translateX(15%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideRight {
    from { transform: translateX(0); opacity: 1; }
    to { transform: translateX(15%); opacity: 0; }
}
