:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
 * {
  box-sizing: border-box;
 }

body {
  margin: 0;
  min-height: 100vh;
  background: #272841;
  padding: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-flow: row;
  max-width: 800px;
  gap: 10px;
  margin: 0 auto;
}

a.card {
  text-decoration: none;
  color: white;
  font-size: 20px;
  background-color: blueviolet;
  padding: 20px;
  border: 1px solid transparent;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.07));
  border-radius: 5px;
}

a.card:hover {
  border: 1px solid rgb(28, 28, 28);
  opacity: 0.5;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: white;
  margin: 50px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
